/*
Color Scheme:
#C3AAB6 -lightest color
#E961A1
#DF2E82
#99215A
#64354B - darkest color
*/

body{
	text-align: center;
	background-color: #E73A95;
}
a:hover{
	color: #682B47;
	}
a{
	color: #460120;
	}
	ul{
		list-style-type: none;
		padding-left: 0px;
	} 
	img{
		border: 1px solid blacks;
		width: 150px;
		height: 150px;
	}
nav{
	list-style-type: center;
	margin: 0.5em;
	border: 1px solid black;
	padding: 0.25px;
	background-color: #E768AB;

}
P{
	color: white;
}